* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

#menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-right: 30px;
  font-size: 14px;
  gap: 10px;
}

.logo {
  padding-left: 30px;
  font-size: 24px;
}

/*------------------------------------------------Intro Section---------------------------------------------*/

